name: Deploy to GitHub Pages

# automatically publish whatever is in the repository root when main is pushed
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      actions: read

    steps:
      - uses: actions/checkout@v3
      - name: Set up Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: .
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
